// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
a:hover {
    text-decoration: none;
}

.home {
    .post-title {
        margin-bottom: 30px;
    }
}

.center-image {
    margin: 0 auto;
    display: block;
}

.center {
    text-align: center;
}

img[src$="centerme"] {
    display: block;
    margin: 0 auto;
}

.mt-1 {
    margin-top: 0.25rem;
}
.mt-2 {
    margin-top: 0.5rem;
}

.mt-3 {
    margin-top: 1rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.semi-bold {
    font-weight: 500;
}

.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.item {
    padding: 3px;
    border: 1px dashed black;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
