// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
a:hover {
    text-decoration: none;
}

.home {
    .post-title {
        margin-bottom: 30px;
    }
}

.center-image {
    margin: 0 auto;
    display: block;
}

.center {
    text-align: center;
}

img[src$="centerme"] {
    display: block;
    margin: 0 auto;
}