// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
a:hover {
    text-decoration: none;
}

.home {
    .post-title {
        margin-bottom: 30px;
    }
}

.center-image {
    margin: 0 auto;
    display: block;
}

.center {
    text-align: center;
}

img[src$="centerme"] {
    display: block;
    margin: 0 auto;
}

.mt-1 {
    margin-top: 0.25rem;
}
.mt-2 {
    margin-top: 0.5rem;
}

.mt-3 {
    margin-top: 1rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.semi-bold {
    font-weight: 500;
}

.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}

.italic {
    font-style: italic;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.item {
    padding: 10px 15px;
    border: 1px solid rgba(#000000, 50%);
    box-shadow: 2px 2px 1px 1px rgba(#000000, 10%);
}

.item:hover {
    box-shadow: 4px 4px 1px 1px rgba(#000000, 20%);
}

.tech {
    font-size: small;
    margin-bottom: 5px;
    margin-left: 4px;
    padding: 2px 8px;
    border-radius: 9999px;
    border: 1px solid rgba(#000000, 25%);
    background-color: rgba(#000000, 10%);
}

.project-title {
    font-size: 1.2rem;
}

.project-description {
    margin-top: 5px;
    margin-bottom: 15px;
}

.project-code {
    font-size: small;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
