---
layout: default
---

<div class="home">
  <div class="">
    Hello,
    Welcome to the internet home of Manali Modi!
  </div>
  <div class="mt-3">
    I am currently working as a Software Engineer at a digital product engineering firm, GlobalLogic. My work
    mostly involves around developing Android TV and Fire TV applications.
  </div>
</div>


<section class="section">
  <div class="mt-4">
    <h2>Education</h2>
  </div>
  <div class="mt-1">
    <div class="semi-bold">
      Bachelor of Engineering in Information Technology
    </div>
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <div class="">
        Amravati University (2016 - 2020)
      </div>
      <div class="">
        CGPA 8.10 · University Rank 8
      </div>
    </div>
  </div>
</section>

<hr>

<section class="section">
  <div class="mt-4">
    <h2>Experience</h2>
  </div>
  <div class="mt-1">
    <div class="semi-bold">
      Software Engineer
    </div>
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <div class="">
        GlobalLogic - A Hitachi Group Company (Dec 2020 - Present)
      </div>
      <div class="italic">
        Nagpur, India
      </div>
    </div>
    <div class="mt-2">
      <ul>
        <li>
          Developing OTT domain apps on Android TV and Fire TV platforms for Verizon FIOS using Java and Kotlin.
        </li>
        <li>
          Worked on Smart Home Assistant POC where I used Python, pip, polymer web components, webpack and bash script to create IOT rule engine. Used various network protocols based on TCP like MQTT and HTTP.
        </li>
      </ul>
    </div>
  </div>

  <div class="mt-1">
    <div class="semi-bold">
      Web Development Intern
    </div>
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <div class="">
        NovelVista Solutions Pvt. Ltd. (Dec 2018 - Feb 2019)
      </div>
      <div class="italic">
        Pune, India
      </div>
    </div>
    <div class="mt-2">
      <ul>
        <li>
          Developed full stack web applications using JavaScript, AJAX, Bootstrap, Java Servlets, MongoDB and Eclipse.
        </li>
      </ul>
    </div>
  </div>
</section>

<hr>

<section class="section">
  <div class="mt-4">
    <h2>Projects</h2>
  </div>
  <div class="container">
    <div class="item">
      <div class="d-flex justify-content-between">
        <div class="project-title">
          AI Vision
        </div>
        <div class="project-code">
          <a href="https://github.com/manali4/CaptionBot">Code</a>
        </div>
      </div>
      <div class="project-description">
        Generates captions from the images captured by a wearable camera and converts them to speech for the visually impaired. Used Deep learning techniques like CNN, RNN, transfer learning, NLP and feature extraction.
      </div>
      <div class="d-flex flex-wrap">
        <span class="tech">Python</span>
        <span class="tech">Keras</span>
        <span class="tech">TensorFlow</span>
        <span class="tech">Flask</span>
        <span class="tech">Google Colab</span>
        <span class="tech">gTTS</span>
        <span class="tech">Git</span>
      </div>
    </div>
    <div class="item">
      <div class="d-flex justify-content-between">
        <div class="project-title">
          Sara - A Conversational Interface
        </div>
        <div class="project-code">
          <a href="https://github.com/ajinkyabawaskar/mindmeld-sara/tree/manali">Code</a>
        </div>
      </div>
      <div class="project-description">
        Built this project using NLP techniques to promote rural tourism by suggesting rural destinations to visit, plan itinerary, and notify users about local businesses.
      </div>
      <div class="d-flex flex-wrap">
        <span class="tech">Python</span>
        <span class="tech">NLTK</span>
        <span class="tech">Sci-Kit learn</span>
        <span class="tech">Flask</span>
        <span class="tech">MindMeld by Cisco</span>
        <span class="tech">VS Code</span>
        <span class="tech">Git</span>
      </div>
    </div>
    <div class="item">
      <div class="d-flex justify-content-between">
        <div class="project-title">
          Banco Game
        </div>
        <div class="project-code">
          <a href="https://github.com/manali4/BankoPHP/tree/beta">Code</a>
        </div>
      </div>
      <div class="project-description">
        A real time multi-user card game implemented using RESTful API.
      </div>
      <div class="d-flex flex-wrap">
        <span class="tech">HTML</span>
        <span class="tech">CSS</span>
        <span class="tech">JavaScript</span>
        <span class="tech">AJAX</span>
        <span class="tech">PHP</span>
        <span class="tech">MySQL</span>
        <span class="tech">Git</span>
        <span class="tech">apache2</span>
        <span class="tech">AWS EC2</span>
      </div>
    </div>
    <div class="item">
      <div class="d-flex justify-content-between">
        <div class="project-title">
          OxyTrack
        </div>
        <div class="project-code">
          <a href="https://github.com/manali4/Oxytrack">Code</a>
        </div>
      </div>
      <div class="project-description">
        Built a web app to enable local NGOs who provide cylinders to COVID-19 patients - to track issued cylinders, record usage history, patient requirement logs as part of inventory management.
      </div>
      <div class="d-flex flex-wrap">
        <span class="tech">Angular 2</span>
        <span class="tech">Spring Boot</span>
        <span class="tech">Hibernate</span>
        <span class="tech">nginx</span>
        <span class="tech">Git</span>
        <span class="tech">VPS</span>
      </div>
    </div>
  </div>
</section>

<hr>

<section class="section">
  <div class="mt-4">
    <h2>Volunteering Experience</h2>
  </div>
  <div class="mt-1">
    <div class="semi-bold">
      Software Development Volunteer
    </div>
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <div class="">
        Dweebs Global (June 2021 - Present)
      </div>
      <div class="italic">
        Remote
      </div>
    </div>
    <div class="mt-2">
      <ul>
        <li>
          Built a <a href="https://app.dweebsglobal.org/">web application</a> to enable individuals seek career guidance and mental health advice. Streamlined mentee-mentor matchmaking workflow. Application is currently used by 1000+ mentors and 5000+ individuals globally.
        </li>
      </ul>
    </div>
  </div>

  <div class="mt-1">
    <div class="semi-bold">
      Web Development Volunteer
    </div>
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <div class="">
        FOSS United (Sep 2021 - Present)
      </div>
      <div class="italic">
        Remote
      </div>
    </div>
    <div class="mt-2">
      <ul>
        <li>
          Contributed to <a href="https://fossunited.org/fosshack/2021">website</a> for FOSSHack 2021, India's biggest FOSS hackathon. Designed content for social media, and community outreach to actively promote Free and Open Source Software.
        </li>
      </ul>
    </div>
  </div>
</section>


<hr>

<section class="section">
  <div class="mt-4">
    <h2>Certifications</h2>
  </div>
  <div class="container">
    <div class="item">
      <div class="d-flex justify-content-between">
        <div class="project-title">
          Machine Learning A-Z™
        </div>
        <div class="project-code">
          <a href="https://drive.google.com/file/d/1MsVXtiF0HFDHf_-uCPPcZoRbOpdxNf6u/view?usp=sharing">Certificate</a>
        </div>
      </div>
      <div class="project-description">
        Completed a 44.5 hours course and learned to create machine learning algorithms in Python and R.
      </div>
    </div>
    <div class="item">
      <div class="d-flex justify-content-between">
        <div class="project-title">
          Tensorflow 2.0!
        </div>
        <div class="project-code">
          <a href="https://drive.google.com/file/d/1YuXsNBi6ETH7fSAyzR5WXZY0whei1Wr-/view?usp=sharing">Certificate</a>
        </div>
      </div>
      <div class="project-description">
        Completed a 13 hours course learning about deep learning technologies.
      </div>
    </div>
  </div>
</section>

<hr>

<section class="section">
  <div class="mt-4">
    <h2>Co-curricular and Extra-Curricular Activities</h2>
  </div>
  <div class="mt-1">
    <ul>
      <li>
        Finalist of Smart India Hackathon 2020, a national level hackathon conducted by Government of India.
      </li>
      <li>
        Published a research paper titled "Machine Learning Approach To Generate Artistic Captions By Using Neural Networks For Visually Impaired People" in IJAITE.
      </li>
      <li>
        Instructed various technical workshops at college level covering basics of full stack development like front-end, back-end, databases and deploying web applications.
      </li>
      <li>
        Publishes educational content on <a href="https://www.youtube.com/channel/UCgrSFL1iC8PVH1yfBU5S0PA">YouTube channel</a> about programming, college placements and careers in software industry.
      </li>
      <li>
        Served as Technical Lead for ACM student body during 3rd year and Training and Placement coordinator during 3rd and 4th year of undergraduate studies.
      </li>
    </ul>
  </div>
</section>