---
layout: default
---

<div class="home">
  <div class="">
    Hello,
    Welcome to the internet home of Manali Modi!
  </div>
  <div class="mt-3">
    I am currently working as a Software Engineer at a digital product engineering firm, GlobalLogic. My work
    mostly involves around developing Android TV and Fire TV applications.
  </div>
</div>


<section class="section">
  <div class="mt-4">
    <h2>Education</h2>
  </div>
  <div class="mt-1">
    <div class="semi-bold">
      Bachelor of Engineering in Information Technology
    </div>
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <div class="">
        Amravati University (2016 - 2020)
      </div>
      <div class="">
        CGPA 8.10 | University Rank 8
      </div>
    </div>
  </div>
</section>

<hr>

<section class="section">
  <div class="mt-4">
    <h2>Experience</h2>
  </div>
  <div class="mt-1">
    <div class="semi-bold">
      Software Engineer
    </div>
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <div class="">
        GlobalLogic - A Hitachi Group Company (Dec 2020 - Present)
      </div>
      <div class="">
        Nagpur, India
      </div>
    </div>
    <div class="mt-2">
      <ul>
        <li>
          Developing OTT domain apps on Android TV and Fire TV platforms for Verizon FIOS using Java and Kotlin.
        </li>
        <li>
          Worked on Smart Home Assistant POC where I used Python, pip, polymer web components, webpack and bash script to create IOT rule engine. Used various network protocols based on TCP like MQTT and HTTP.
        </li>
      </ul>
    </div>
  </div>

  <div class="mt-1">
    <div class="semi-bold">
      Web Development Intern
    </div>
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <div class="">
        NovelVista Solutions Pvt. Ltd. (Dec 2018 - Feb 2019)
      </div>
      <div class="">
        Pune, India
      </div>
    </div>
    <div class="mt-2">
      <ul>
        <li>
          Developed full stack web applications using JavaScript, AJAX, Bootstrap, Java Servlets, MongoDB and Eclipse.
        </li>
      </ul>
    </div>
  </div>
</section>

<hr>

<section class="section">
  <div class="mt-4">
    <h2>Projects</h2>
  </div>
  <div class="container">
    <div class="item">
      1
    </div>
    <div class="item">
      2
    </div>
    <div class="item">
      3
    </div>
    <div class="item">
      4
    </div>
    <div class="item">
      5
    </div>
    <div class="item">
      6
    </div>
  </div>
</section>